<div class="col-md-6 container-centered">
  <h2>Restore password</h2>
  <hr />
  <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="username">Email</label>
      <input
        type="text"
        formControlName="email"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && form.email.errors }"
      />
      <div *ngIf="form.email.errors" class="invalid-feedback">
        <div *ngIf="form.email.errors.email || form.email.errors.required">
          Please enter valid email
        </div>
      </div>
    </div>
    <button class="btn btn-link pl-0 light" [routerLink]="['/login']">
      &#60;&#60; Back
    </button>
    <div class="form-group">
      <button class="btn btn-secondary" [disabled]="loading">
        Confirm
      </button>
    </div>
  </form>
  <div class="alert alert-info" role="alert" *ngIf="success">
    hooray! Check your inbox for a new password!
  </div>
</div>
