@import "styles/base/typography";
@import "styles/abstracts/variables";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

.footer {
  color: $primary;
}

.container-centered {
  margin: 0 auto;
}

.btn-link {
  color: $dark;

  &.light {
    color: $success;
  }
}

.form-control {
  &:focus {
    border-color: $secondary;
  }
}
